body{
  display: flex;
  justify-content: center;
}

.spiel {
  padding: 20px;
}

.spiel_buttons {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

