body{
  background-color: #deedeb;
  height:max-content;
}


button {
  background-color: white;
  border-width: 2px;
}

.btn_allgemeinwissen{
  border-color: #ec2931;
}

.btn_soziales {
  border-color: #ff7f27;
}

.btn_freizeit {
  border-color: #00a2e8;
}

.header {
display: flex;
background-color: white;
border-width: 2px;
border-color: black;
border-radius: 20px;
border-style: solid;
width: 300px;
justify-content: center;
padding: 10px 5px;
}

.spiel {
  align-items: center;
}

.spiel_buttons {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 20px;
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

