body{
  background-color: #deedeb;
  height:max-content;
}


button {
  background-color: white;
  border-width: 2px;
  border-radius: 5px;
  padding: 20px;
  font-size: medium;
}

.btn_allgemeinwissen{
  border-color: #ec2931;
}

.btn_soziales {
  border-color: #ff7f27;
}

.btn_freizeit {
  border-color: #00a2e8;
}

.header {
display: flex;
background-color: white;
border-width: 2px;
border-color: black;
border-radius: 20px;
border-style: solid;
/*flex-grow: 1; */

margin: 20px 30px 30px 30px;
justify-content: center;
padding: 10px 5px;
}

.spiel {
  align-items: center;
  height: 87vh;
  position: relative;
}

.spiel_buttons {
  display: flex;
  flex-direction: column;
  width: 200px; 
  gap: 20px;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.spiel_loesung {
  font-family: cursive;
  text-align: left;
  display: grid;
}

.btn_loesung {
  justify-self: center;
  border-width: 0px;
  background-color: transparent;
  text-decoration:underline;
  text-decoration-style: dotted ;
  color:gray;
  font-family: cursive;
}

.spiel_antwortenListe {
  margin-left: 20px;
}

.aufgabenText {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size:x-large;
}

li {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}




